@model TrackingModule.Models.Reader

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Map.MapFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Map.MapFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NodeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NodeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XPos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XPos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YPos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YPos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
